<h1><%= @property.title %></h1>
<p><%= @property.description %></p>
<h3>Descrição do imóvel</h3>
<ul>
  <% if @property.image.attached? %>
    <li><%= image_tag @property.image.variant(resize: "450x450") %></li>
  <% else %>
    <li><%= image_tag "missing.jpg" %></li>
  <% end %>

  <li>Região: <%= @property.region.name %></li>
  <li>Tipo do imóvel: <%= @property.property_type.name %></li>
  <li>Finalidade do imóvel: <%= @property.rent_purpose %></li>
  <li>Área: <%= @property.area %>m²</li>
  <li>Quantidade de cômodos: <%= @property.room_quantity %></li>
  <li>Possui acessibilidade: <%= @property.accessibility? ? 'Sim' : 'Não' %></li>
  <li>Aceita animais: <%= @property.allow_pets? ? 'Sim' : 'Não' %></li>
  <li>Aceita fumantes: <%= @property.allow_smokers? ? 'Sim' : 'Não' %></li>
  <li>Ocupação máxima: <%= @property.maximum_guests %></li>
  <li>Mínimo de diárias: <%= @property.minimum_rent %></li>
  <li>Máximo de diárias: <%= @property.maximum_rent %></li>
  <li>Valor da diária: R$ <%= @property.daily_rate %></li>
</ul> 
<% if realtor_signed_in? %>
  <%= link_to 'Bloquear temporada' %>
<% end %>

<% if @any_proposal_pending %>
  <p>Você enviou uma proposta para este imóvel no dia <%= @proposal_pending_user.created_at.strftime('%d/%m/%Y')%>
  <p>Para visualizar sua proposta enviada, <%= link_to 'clique aqui', property_proposal_path(@property, @proposal_pending_user) %></p>
<% else %>
  <% if user_signed_in? %>
    <%= link_to 'Enviar proposta', new_property_proposal_path(@property.id), class: 'btn btn-secundary'%>
  <% end %>
<% end %>